﻿@using CamadaDeControle.Models
@model IEnumerable<Produto>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

@if (TempData["Mensagem"] != null)
{
    <div>@TempData["Mensagem"]</div>
}

<table>
    <tr>
        <th>@Html.DisplayNameFor(m => m.Nome)</th>
        <th>@Html.DisplayNameFor(m => m.Descricao)</th>
        <th>@Html.DisplayNameFor(m => m.Preco)</th>
        <th></th>
    </tr>
@foreach (var produto in Model)
{
    <tr>
        <td>@Html.DisplayFor(m => produto.Nome)</td>
        <td>@Html.DisplayFor(m => produto.Descricao)</td>
        <td>@Html.DisplayFor(m => produto.Preco)</td>
        <td>@Html.ActionLink("Editar", "Editar", new { id = produto.ProdutoID })</td>
    </tr>
}
</table>